{% trans_default_domain "victoire" %}
    {{ form_start(form) }}
<ul class="vic-row vic-items" id="{{ form.events.vars.id }}-list" data-prototype="{% filter escape %}{% include 'VictoireWidgetSnakeBundle::_itemForm.html.twig' with { 'item': form.events.vars.prototype } %}{% endfilter %}">
    {% for item in form.events %}
        {% include 'VictoireWidgetSnakeBundle::_itemForm.html.twig' %}
    {% endfor %}
</ul>
{% do form.events.setRendered %}

    {{ form_rest(form) }}
    {{ form_end(form) }}

<script type="text/javascript">

    $vic(document).ready(function() {

        // Disable entity select when we submit the form
        $vic('form#{{form.events.vars.id}}').on('submit', function(e){
            $vic('select.add_{{form.events.vars.id}}_link').prop('disabled', true);
        });

        sortWidgetListItems("{{ form.events.vars.id }}-list");

        var collectionHolder = $vic('#{{ form.events.vars.id }}-list');
        initCollection(collectionHolder);

    });

    function initCollection(collectionHolder) {
        // ajoute un lien « add an item »
        var $addItemLink = $vic('<a href="#" class="vic-btn vic-btn-add" class="vic-btn vic-btn-add add-request-block">{{ 'widget.form.WidgetListingItemType.addItem.label'|trans }}</a>');
        var $newLinkContainer = $vic('<div class="vic-col-lg-4 vic-col-lg-offset-8"></div>').append($addItemLink);
        collectionHolder.append($newLinkContainer);
        $addItemLink.on('click', function(e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();

            // ajoute un nouveau formulaire item (voir le prochain bloc de code)
            addItemForm(collectionHolder, $newLinkContainer);
        });
    }


    function addItemForm(collectionHolder, $newLinkContainer) {
        // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
        var prototype = collectionHolder.attr('data-prototype');

        // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
        // la longueur de la collection courante
        //@todo Fix this because collectionHolder.children().length is not correct :
        //      think for a collectino with N items, if you delete a children in the middle of the collection, you have N-1 items but the last still have the N key so we can't use it)
        var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
        var currentFormContainer = $newLinkContainer.before(newForm);
        showSelectedLinkType($vic('.linkType-select'));
    }


    $vic(document).on('click', 'button[data-action="remove-block"]', function(e) {
        e.preventDefault();
        $vic(this).parents('li').remove();
    });

    function linkEnable(value) {
        if (value == true) {
            $vic('.link-container').removeClass('vic-hidden');
        } else {
            $vic('.link-container').addClass('vic-hidden');
        }
    }
</script>
