<li class="vic-col-lg-12 vic-request-block">
    <div class="vic-panel vic-panel-default">
        <div class="vic-panel-heading">
            <span class="vic-circled request-number"></span>
            {{ form_row(item.removeButton) }}
            {% do item.removeButton %}
        </div>
        <div id="vic-nl-form" class="vic-panel-body vic-panel-body-request vic-nl-form">
            <div class="row">
                <div class="vic-col-md-4">
                    {{ form_row(item.image) }}
                </div>
                <div class="vic-col-md-4">
                    {{ form_row(item.title) }}
                    {{ form_row(item.description) }}
                </div>
            </div>
        </div>
        {{ form_rest(item) }}
    </div>
</li>
